<!DOCTYPE html>
<html lang="en">
<head>
  <title>MarketPlace</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>


<br> <br><Br>





<div class="container">

<!-- Nav tabs -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><font color="yellow">MARKETPLACE.</font></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://e-profits.net/register.html">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://e-profits.net/forklifts.html">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://e-profits.net/searchorders.html">Search orders</a>
      </li>
    </ul>
  </div>
</nav>
  <br><br>
  <h2>Material Handlers For All Your Needs</h2>
  
  <BR>
  <span id="cartItemCount"> </span>
  
  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://furnituregains.net/checkout.jpg" onclick="prepareJSON()" >
<br><span id="checkoutmsg"> </span>
<br> <br>
  <div class="table-responsive-sm">
            
  <table class="table">
    <tbody>
      <tr> 
      
       <td><img src="http://e-profits.net/prologis1.png" width="275" height="275"><br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yale</b><br>
       MPE060VH End Rider - 350$ <br><br>
      Quantity: <select name="sel1234" onchange="selectQt('1234')">
<option value="1"> 1 </option>
<option value="2"> 2 </option>
<option value="3"> 3 </option>
<option value="4"> 4 </option>
<option value="5"> 5 </option>
<option value="6"> 6 </option>
<option value="7"> 7 </option>
<option value="8"> 8 </option>
<option value="9"> 9 </option>
<option value="10"> 10 </option>
</select>
      
  <span id="id1234"> </span> &nbsp;&nbsp;<br><br><br><img src="http://furnituregains.net/addtocart.png" width= "110" height="28" onclick="javascript:addToCart('1234|Yale- MPE060VH End Rider|350|1', 'id1234')">
  </td>
  
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  
         <td><img src="http://e-profits.net/prologis2.png" width="275" height="275"> &nbsp;<br> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yale</b><br>

ESC035AD Three-Wheel Stand Forklift - 350$ <br><br>
      Quantity: <select name="sel1284" onchange="selectQt('1284')">
<option value="1"> 1 </option>
<option value="2"> 2 </option>
<option vale="3"> 3 </option>
<option value="4"> 4 </option>
<option value="5"> 5 </option>
<option value="6"> 6 </option>
<option value="7"> 7 </option>
<option value="8"> 8 </option>
<option value="9"> 9 </option>
<option value="10"> 10 </option>
</select>
      
  &nbsp;&nbsp;&nbsp;&nbsp;<span id="id1284"> </span> &nbsp;&nbsp;<br><br><br><img src="http://furnituregains.net/addtocart.png" width= "110" height="28" onclick="javascript:addToCart('1284|Yale- ESC035AD Three-Wheel Stand Forklift|300|1', 'id1284')">
  </td>
  
   <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
   
  <td><img src="http://e-profits.net/prologis3.png" width="275" height="275"> &nbsp;<br><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yale </b> <br> NR040EB Reach Truck - 250$ 
      <br><br>
      Quantity: <select name="sel1134" onchange="selectQt('1134')">
<option value="1"> 1 </option>
<option value="2"> 2 </option>
<option value="3"> 3 </option>
<option value="4"> 4 </option>
<option value="5"> 5 </option>
<option value="6"> 6 </option>
<option value="7"> 7 </option>
<option value="8"> 8 </option>
<option value="9"> 9 </option>
<option value="10"> 10 </option>
</select>
      
    <span id="id1134"> </span> &nbsp;&nbsp;<br><br> <br><img src="http://furnituregains.net/addtocart.png" width= "110" height="28" onclick="javascript:addToCart('1134|Yale-NR040EB Reach Truck|250|1','id1134')">
     </td>
      
  </tr>
  
  
  <tr>
  
  <td><img src="http://e-profits.net/prologis4.png" width="275" height="275"><br> <B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hyster </b> <br> H50XT ICE Pneumatic Tire Forklift - 270$ 
      <br><br>
      Quantity: <select name="sel1876" onchange="selectQt('1876')">
<option value="1"> 1 </option>
<option value="2"> 2 </option>
<option value="3"> 3 </option>
<option value="4"> 4 </option>
<option value="5"> 5 </option>
<option value="6"> 6 </option>
<option value="7"> 7 </option>
<option value="8"> 8 </option>
<option value="9"> 9 </option>
<option value="10"> 10 </option>
</select>
      
      <span id="id1876"> </span> &nbsp;&nbsp;<br><br> <br><img src="http://furnituregains.net/addtocart.png" width= "110" height="28" onclick="javascript:addToCart('1876|Hyster-H50XT ICE Pneumatic Tire Forklift|270|1','id1876')">
      </td>
      
  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><img src="http://e-profits.net/prologis5.png" width="275" height="275"><br> <B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hyster </b> <br> S50CT2 ICE Cushion Tire Forklift - 240$ 
      <br><br>
      Quantity: <select name="sel1098" onchange="selectQt('1098')">
<option value="1"> 1 </option>
<option value="2"> 2 </option>
<option value="3"> 3 </option>
<option value="4"> 4 </option>
<option value="5"> 5 </option>
<option value="6"> 6 </option>
<option value="7"> 7 </option>
<option value="8"> 8 </option>
<option value="9"> 9 </option>
<option value="10"> 10 </option>
</select>
      
     <span id="id1098"> </span> &nbsp;&nbsp;<br><br> <br><img src="http://furnituregains.net/addtocart.png" width= "110" height="28" onclick="javascript:addToCart('1098|Hyster-S50CT2 ICE Cushion Tire Forklift|240|1','id1098')">
      </td>
  
   <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    
    <td><img src="http://e-profits.net/prologis6.png" width="275" height="275"> <br> <B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hyster </b> <br> J35XNT Three-Wheel Electric Forklift - 250$ 
      <br><br>
      Quantity: <select name="sel1985" onchange="selectQt('1985')">
<option value="1"> 1 </option>
<option value="2"> 2 </option>
<option value="3"> 3 </option>
<option value="4"> 4 </option>
<option value="5"> 5 </option>
<option value="6"> 6 </option>
<option value="7"> 7 </option>
<option value="8"> 8 </option>
<option value="9"> 9 </option>
<option value="10"> 10 </option>
</select>
      
      <span id="id1985"> </span> &nbsp;&nbsp;<br><br><br> <img src="http://furnituregains.net/addtocart.png" width= "110" height="28" onclick="javascript:addToCart('1985|Hyster-J35XNT Three-Wheel Electric Forklift|250|1','id1985')">
      </td>    
      

</tr>
   
    </tbody>
  </table>
  </div>
</div>

<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://furnituregains.net/checkout.jpg" onclick="prepareJSON()">

 <script>

//var items = [];
var cartArray = [];
//var item="";
var cart= new Object();

var mycart="";

function setCookie(cname, cvalue) {

  var exdays=30;
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";";
}




function selectQuantityDuringLoad(id, quant)
{

var optionsIndex=quant-1;
document.all[id].options[optionsIndex].selected=true;

countItemsInCart();
}



/*********This function is called whenever someone changes the quantity of the product
It loops through the cart to check if someone already added that item, then updated the cart.
 ***/
function selectQt(id)
{
var newQuant=document.all['sel' + id].value;
var arrStrCart="";
var updatedStr="";
for (index = 0; index < cartArray.length; index++) { 
     strCart= cartArray[index];
     arrStrCart=strCart.split("|");
     
     //check if this item was already in the cart...
     if(id==arrStrCart[0])
     {
     updatedStr=arrStrCart[0] + "|" + arrStrCart[1] + "|"  + arrStrCart[2] + "|" + newQuant;
     cartArray[index]=updatedStr;
     }
    
    }

countItemsInCart();
}


function udateCartCookie()
{
var item="";
var items= [];
var areAllRemoved="yes";
var counter=0;
for (index = 0; index < cartArray.length; index++) { 
    var str= cartArray[index];
    
    if(str=="removed")
    continue;
    
    var arr=str.split("|");
    
       areAllRemoved="no";
       item= new Object();
       item.itemNo=arr[0];
       item.itemDesc=arr[1];
       item.price=arr[2];
       item.quantity=arr[3]
       
    
    
    items[counter]=item;
    counter=counter + 1;
    
} 
if(cartArray.length!=0 || areAllRemoved!="yes")
 {
 //document.cookie = "cookieCart=" + JSON.stringify(items);
 setCookie('cookieCart',JSON.stringify(items));
}
else
{
setCookie('cookieCart','empty');
}

}

function countItemsInCart()
{
var strArray="";
var cartItems=0;
var varStrM="";
var varQuant=0;
for (index = 0; index < cartArray.length; index++) { 
    var str= cartArray[index];
    
    if(str=="removed")
    {
     continue;
    }
    else
    {
    strArray=str.split("|");
    varQuant=strArray[3];
    cartItems = cartItems + parseInt(varQuant);
    }
   }
    
    varStrM="<h5>You have " + cartItems + " item(s) in the cart..</h5>";
    
    document.all['cartItemCount'].innerHTML=varStrM;
    
   udateCartCookie();
}

function reloadExistingCart(mycart)
{
 var strCartMsg="";
 var strRow1="";
 var strRow2="";
 var selID="";
 var quant="";
 var prasadcart="";
 
if(mycart.length > 10)
{
  prasadcart=JSON.parse(mycart);

  for(var i=0;i<prasadcart.length;i++)
  {
   document.all['checkoutmsg'].innerHTML="";
   strRow1= prasadcart[i].itemNo + "|" + prasadcart[i].itemDesc + "|" + prasadcart[i].price + "|" + prasadcart[i].quantity;
   strRow2="id"+ prasadcart[i].itemNo;
   selID="sel" + prasadcart[i].itemNo;
   quant=prasadcart[i].quantity;

   selectQuantityDuringLoad(selID,quant);

   addToCart(strRow1,strRow2);

   strRow2="";
   strRow1="";

   } //end of for loop..

   countItemsInCart();
} //end of if mycart.length > 10
}

function getCookieAndreloadExistingCart(cname) {
var mycookieval='empty';
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      mycookieval= c.substring(name.length, c.length);
    }
  }
  
 

 
// *****************start of code...***********

 var strCartMsg="";
  var prasadcart="";
 var strRow1="";
 var strRow2="";
 var selID="";
 var quant="";
 mycart=mycookieval;
 
 
  if(mycart=="" || mycart=='empty' || mycart.length > 10)
 {

  prasadcart=JSON.parse(mycart);

 for(var i=0;i<prasadcart.length;i++)
 {
  document.all['checkoutmsg'].innerHTML="";
  strRow1= prasadcart[i].itemNo + "|" + prasadcart[i].itemDesc + "|" + prasadcart[i].price + "|" + prasadcart[i].quantity;
  strRow2="id"+ prasadcart[i].itemNo;
  selID="sel" + prasadcart[i].itemNo;
  quant=prasadcart[i].quantity;

  selectQuantityDuringLoad(selID,quant);

  addToCart(strRow1,strRow2);


  strRow2="";
  strRow1="";

  } //end of for loop

countItemsInCart();
 
}//end of if statement...
 //*******************end of start code **************
}//end of function....

 var cookieName='cookieCart';
 getCookieAndreloadExistingCart(cookieName);
 

if(performance.navigation.type == 2){
   location.reload(true);
}

$(document).ready(function() {
$("#sumbitIt").click(function () {


    
});
});


function checkIfAlreadyAdded(str)
{
//get the item code...
var arrStrItemCodes=str.split("|");
var icode=arrStrItemCodes[0];  //this is item code..

//get the quantity selected for that item code
var selQuant=document.all['sel' + icode].value;

var strCart="";
var exists="no";
var arrCartItem="";
var strUpdatedItemRow="";
for (index = 0; index < cartArray.length; index++) { 
     strCart= cartArray[index];
     arrCartItem=strCart.split("|");
      if(icode==arrCartItem[0])  //update the quantity if needed...
      {
       strUpdatedItemRow=arrCartItem[0] + "|" + arrCartItem[1] +  "|" +  arrCartItem[1] + "|" + selQuant;
       return "yes";
       }
    }

 return "no";
}

function selectQuantyto1(id)
{
document.all[id].options[0].selected=true;

}

function removeCart(idRem)
{

var res = idRem.substring(2, idRem.length);
var selSetToQuant1='sel' + res;


var aa="";
var tobeRemoved="";
document.all[idRem].innerHTML=aa;

for (index = 0; index < cartArray.length; index++) { 
    var str= cartArray[index];
    
    if(str=="removed")
    continue;
    
    var arr=str.split("|");
    var arrId=arr[0];  //just number id..
    tobeRemoved="id" + arrId;
    
    if(tobeRemoved==idRem)
    {
    cartArray[index]="removed";
    }
    
    }
    
   selectQuantyto1(selSetToQuant1);
  countItemsInCart();  
}

function addToCart(str,id)
{
//alert(str);
var arrStrItemRow=str.split("|");
var icode=arrStrItemRow[0];  //this is item code..

//get the quantity selected for that item code
var selQuant=document.all['sel' + icode].value;

var strWithUpdatedQuantity=arrStrItemRow[0] + "|"  + arrStrItemRow[1] + "|" + arrStrItemRow[2] + "|" + selQuant;
//alert("strWithUpdatedQuantity:-" + strWithUpdatedQuantity);
if(checkIfAlreadyAdded(str)=="no")
{
document.all['checkoutmsg'].innerHTML="";

// push str with updated quantity......
cartArray.push(strWithUpdatedQuantity); //str);
}


var aa="<img src='http://www.furnituregains.net/addedtocart.png' width='40' height='25'> &nbsp;&nbsp;<a href=javascript:removeCart('"+ id + "')>Remove</a>";
document.all[id].innerHTML=aa;

countItemsInCart();
}

var orderamount=0;


function prepareJSON()
{
var items1=[];
var counter=0;
var areAllRemoved="yes";
for (index = 0; index < cartArray.length; index++) { 
    var str= cartArray[index];
    
    if(str=="removed")
    continue;
    
    var arr=str.split("|");
    
       areAllRemoved="no";
       item= new Object();
       item.itemNo=arr[0];
       item.itemDesc=arr[1];
       item.price=arr[2];
       item.quantity=arr[3]
       
    
    
    items1[counter]=item;
    counter=counter + 1;
    
} 
var strAlertMsg="<font color='red'> Your cart is empty. Please add one or more items.</font>";
 if(cartArray.length==0 || areAllRemoved=="yes")
 {
 document.all['checkoutmsg'].innerHTML=strAlertMsg;
 }
 else
 {
 setCookie('cookieCart',JSON.stringify(items1));
 window.location.href="http://e-profits.net/placeorder.html";
 }
 
}


 
</script>
 
</body>
</html>